<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbowman.miniprogram.server.mapper.WXIndexMapper">
    <select id="getAll" parameterType="Map" resultType="Map">
        SELECT * from sys_user
    </select>

    <insert id="insert" parameterType="Map">
        insert into sys_user
        (
        nickName,
        avatarUrl,
        openId,
        unionId,
        gender,
        city,
        province,
        country,
        recentdate
        )
        VALUES
           (
		        #{nickName},
				#{avatarUrl},
			    #{openId},
			    #{unionId},
				#{gender},
				#{city},
				#{province},
				#{country},
				#{recentdate}
			)
    </insert>

    <insert id="insertComment" parameterType="Map">
        insert into sys_comment
        (
        parentid,
        markerid,
        openid,
        comment,
        inserttime,
        replyopenid
        )
        VALUES
           (
		        #{parentid},
				#{markerid},
			    #{openid},
			    #{comment},
			    #{inserttime},
			    #{replyopenid}
			)
    </insert>

    <delete id="deleteRecord" parameterType="Map">
          DELETE FROM ${table} WHERE 1=1
        <if test="paramone != null and paramone !='' ">
            and ${paramone} = #{valueone}
        </if>
        <if test="paramtwo != null and paramtwo !='' ">
            and ${paramtwo} = #{valuetwo}
        </if>
    </delete>

    <select id="getAllRecord" parameterType="Map" resultType="Map">
        SELECT * from ${table} where 1=1
        <if test="paramone != null and paramone !='' ">
            and ${paramone} = #{valueone}
        </if>
        <if test="paramtwo != null and paramtwo !='' ">
            and ${paramtwo} = #{valuetwo}
        </if>
        <if test="orderby != null and orderby !='' ">
           order by ${orderby}
        </if>
    </select>


    <select id="getAllInfo" parameterType="Map" resultType="Map">
        SELECT * from sys_information
    </select>

    <insert id="insertInfo" parameterType="Map">
        insert into sys_information
        (
        openid,
        description,
        images,
        latitude,
        longitude,
        iconpath,
        location,
        title,
        recentdate
        )
        VALUES
           (
		        #{openid},
				#{description},
			    #{images},
			    #{latitude},
				#{longitude},
				#{iconpath},
				#{location},
				#{title},
				#{recentdate}
			)
    </insert>


</mapper>
